* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #0055ff, #002f7d);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: white;
  padding: 16px;
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

#searchbar {
  padding: 10px;
  border-radius: 10px;;
  border: 1px solid dimgray;
  font-style: italic;
  width: 100%;
}

#results {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
  border: 1px solid dimgray;
}

.task {
  display: grid;
  grid-template-columns: 50% 40% 10%;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid darkgrey;
}

.task:last-child {
  border-bottom: none;
}

.task-text {
  text-align: left;
  word-break: break-word;
}

.task button {
  justify-self: end;
  border: none;
  cursor: pointer;
  width: 40px;
  padding: 6px;
  border-radius: 10px;
  background-color: #0055ff;
}

.task input {
  width: auto;
  padding: 6px;
  margin: 4px;
  border-radius: 10px;
  border: 1px solid #0055ff;
  outline: none;
}

.due-date {
  width: 120px;
  text-align: center;
  font-weight: bold;
}

#buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

#taskInput, #datePicker {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 8px;
  transition: 0.4s ease;
  border-radius: 10px;
  border: 1px solid dimgray;
}

#saveButton {
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  border: none;
  background: #0055ff;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

#saveButton:hover {
  background: #0040aa;
}

#datePicker:hover, #taskInput:hover{
  border: 1px solid #0055ff;
  background-color: #f1f7ff;
}

mark {
  background-color: #0055ff;
  color: white;
  font-weight: bold;
}
