<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/less/style.css">
    <title><%= title %></title>
</head>
<body class="<%= bodyClass %>">
    <nav>
        <%- include('./nav') %>
    </nav>
    <main>
        <h1>Create Song</h1>
        <form action="/songs/create" method="post" class="edit-form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="artist">Artist</label>
                <input type="text" id="artist" name="artist" required>
            </div>
            <div class="form-group">
                <label for="duration">Duration (seconds)</label>
                <input type="number" id="duration" name="duration" required>
            </div>
            <div class="form-group">
                <label></label>
                <input type="submit" value="Submit">
            </div>
        </form>
        <a href="/songs">Back to list</a>
    </main>
</body>
</html>